@model Usuarios
@{
    ViewData["Title"] = "CreateAccount";
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Register</title>

    <!-- Custom fonts for this template-->
    <link href="@Url.Content("~/vendor/fontawesome-free/css/all.min.css")" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="@Url.Content("~/css/sb-admin-2.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/css/sb-admin-2.css")" rel="stylesheet">

</head>

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert" id="divDeErro">
        <button type="button" class="btn btn-danger btn-sm close alert" data-bs-dimiss="alert" aria-label="Close" id="erro">X</button>
        @TempData["MensagemErro"]
    </div>
}

<body class="bg-gradient-primary">

    <div class="container">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <center>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                                </div>
                                <form asp-controller="CreateAccount" asp-action="CriarConta" method="post" class="user">
                                    <div class="form-group">
                                            <input type="text" asp-for="Name" class="form-control form-control-user" id="exampleLastName" placeholder="Digíte seu Nome">
                                            @Html.ValidationMessageFor(x => x.Name)
                                    </div>
                                    <div class="form-group">
                                        <input type="email" asp-for="Email" class="form-control form-control-user" id="exampleInputEmail" placeholder="Digíte seu Email">
                                        @Html.ValidationMessageFor(x => x.Email)
                                    </div>
                                    <div>
                                        <div class="card shadow mb-4">
                                            <!-- Card Header - Accordion -->
                                            <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                                                <h6 class="m-0 font-weight-bold text-primary">Escolha o Cargo</h6>
                                            </a>
                                            <!-- Card Content - Collapse -->
                                            <div class="collapse show" id="collapseCardExample" style="">
                                                <br>
                                                <div class="container">
                                                    <input type="hidden" asp-for="Role" id="roleInput" name="Role">
                                                    <a href="#" class="btn btn-primary btn-icon-split" onclick="setRoleAndSubmit('engenheiro')">
                                                        <span class="icon text-white-50">
                                                            <i class="fas fa-flag"></i>
                                                        </span>
                                                        <span class="text">Engenheiro</span>
                                                    </a>
                                                    @Html.ValidationMessageFor(x => x.Role)
                                                </div>
                                                <br>
                                                </br>
                                                <div class="container">
                                                    <input type="hidden" asp-for="Role" id="roleInput" name="Role">
                                                    <a href="#" class="btn btn-primary btn-icon-split" onclick="setRoleAndSubmit('client')">
                                                        <span class="icon text-white-50">
                                                            <i class="fas fa-flag"></i>
                                                        </span>
                                                        <span class="text">Cliente</span>
                                                    </a>
                                                        @Html.ValidationMessageFor(x => x.Role)
                                                </div>
                                                </br>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="form-group">
                                            <input type="text" asp-for="Telefone" class="form-control form-control-user" id="exampleRepeatPassword" placeholder="Digite seu telefone" data-val="true" data-val-required="Campo Obrigatório" name="Telefone">
                                            @Html.ValidationMessageFor(x => x.Telefone)
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-user btn-block">Criar conta</button>
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="forgot-password.html">Forgot Password?</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" href="login.html">Already have an account? Login!</a>
                                </div>
                            </div>
                        </div>
                    </center>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="@Url.Content("~/vendor/jquery/jquery.min.js")"></script>
    <script src="@Url.Content("~/vendor/bootstrap/js/bootstrap.bundle.min.js")"></script>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    

    <!-- Core plugin JavaScript-->
    <script src="@Url.Content("~/vendor/jquery-easing/jquery.easing.min.js")"></script>

    <!-- Custom scripts for all pages-->
    <script src="@Url.Content("~/js/sb-admin-2.min.js")"></script>
    <script src="@Url.Content("~/js/sb-admin-2.js")"></script>

    <script>
        function setRoleAndSubmit(role) {
            //debugger;
            var hiddenInput = document.getElementById('roleInput'); // Define o valor da role no campo de entrada oculto
            hiddenInput.value = role;
        }
    </script>

    <script>
        function retornoRole()
        {
            $("#role").val("engenheiro");
        }
    </script>

    <script>
        function ocultarDiv(selectorBotao, selectorDiv) {
            $(selectorBotao).click(function () {
                $(selectorDiv).hide();
            });
        }

        $(document).ready(function () {
            ocultarDiv("#erro", "#divDeErro");
        });
    </script>


</body>
</html>